@model List<Category>

<select class="form-select my-3" name="cat_id">
    <option hidden>Select Any Category</option>

    @foreach (var cat in Model)
    {
        if (cat.category_id == ViewBag.selectedCategoryId)
        {
            <option value="@cat.category_id" selected="selected">
                @cat.category_name
            </option>
        }
        else
        {
            <option value="@cat.category_id">
                @cat.category_name
            </option>
        }
    }
</select>
